<!DOCTYPE html>

<html ng-app='isStreaming'>

<head>

	<link rel="stylesheet" type="text/css" href="sources/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="scripts/index.css">	
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">	
	<script  src="sources/angular.min.js"></script>
	<script  src="scripts/jquery-2.1.3.js"></script>
	<script  src="scripts/index.js"></script>	
	<link href='http://fonts.googleapis.com/css?family=Lato:700,900' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="icon.png">

	<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 		 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 		 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 		 ga('create', 'UA-63669921-1', 'auto');
		  ga('send', 'pageview');
	</script>

</head>

<body>


	<div class="container" >

		<div class="center title">
			
			<h1>Are they streaming?</h1>

		</div>


	
		<div class="row">
		
			
			<div class="user" ng-controller='usersController'>
				<div class="searchBar form-group">
					<input class='form-control' type="search" ng-model="search" placeholder="Search... (e.g Shroud/C9)">
				</div>
			

					<div ng-repeat="user in users | orderBy: ['isStreaming','-viewers','name'] | filter:search" class="card" ng-click='test(user.link)' >				
						<span class="streamer col-md-9 col-sm-9" ng-class="{'Streaming': user.isStreaming, 'notStreaming':!user.isStreaming}"><a class='username' href={{user.link}}>{{user.name}}<br><marquee ng-show='user.isStreaming' behavior="scroll" direction="left">{{user.title}} - {{user.viewers}} viewers</marquee></a></span>
						<div class='circle-wrap col-md-2 col-sm-2'>
						<div class="circle" ng-class="{'circle-blue':user.isStreaming, 'circle-nonstreaming':!user.isStreaming}"></div>
						</div>
					</div>
			</div>


		</div>


	</div>	


	

</body>

</html>