<!DOCTYPE html>

<html ng-app='isStreaming'>

<head>

	<link rel="stylesheet" type="text/css" href="../sources/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../scripts/index.css">		
	<script  src="../sources/angular.min.js"></script>
	<script  src="../scripts/jquery-2.1.3.js"></script>
	<script  src="../scripts/index.js"></script>	



</head>

<body>

	<div class="container" >

		<div class="center">
			
			<h1>Are They Streaming</h1>

		</div>


	
		<div class="row">
		
			
			<div class="user" ng-controller='usersController'>
				
				<p ng-repeat='user in users' class="center" >				
				<span class="streamer col-md-2 col-md-offset-2"><a href={{user.link}}>{{user.name}}</a></span>
				<span ng-show="user.isStreaming"><a href={{user.link}}><button type="submit" class='btn btn-primary'>STREAMING</button></a></span>
				<span ng-show="!user.isStreaming"><button class='btn btn-danger' disabled>NOT STREAMING :(</button></span>
				
				</p>


			</div>


		</div>	


	</div>

	

</body>

</html>