body {
	background-color: rgb(248,248,248) ;
	font-family: 'Lato', sans-serif;
}

.center {
	text-align: center;
}

.title h1 {
	font-size: 48px;
	font-weight: 900;
	margin: 48px 0;
}

.streamer {
	margin-right: 5%;
	font-size: 18px;
	font-weight: 700;
	margin-top: 8px;
	text-align:left;
	margin-left: 8px;
}

.Streaming a {
	color: rgba(000,000,000,0.54);
}

.notStreaming a {
	color: rgba(000,000,000,0.28);
}


.card {
	background-color: white;
	border-radius: 4px;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 50%;
	margin: auto;
	margin-bottom: 8px;
	height: 64px;
	width: 384px;
}

.card:hover {
	background-color: rgba(255,114,0,0.05);
}

.circle {
	border-radius: 50%;
	width: 16px;
	height: 16px; 
	margin-top: 10px;
	/* width and height can be anything, as long as they're equal */
}

.circle-blue {
	background-color: #ff7200;
}

.circle-nonstreaming {
	background-color: rgba(255,114,0,.2);
}

.circle-wrap {
	margin-left: 0px;
}

.username {
	text-transform: uppercase;
}
.Streaming a{
	text-transform: uppercase ;
	text-decoration: none ;
}

.vertical-align-parent {
  display: table;
  height: 100%;
}

marquee {
	font-size: 14px;
}

.searchBar {
	font-family: 'Lato', sans-serif;
	width: 384px;
	margin: auto;
	margin-bottom: 50px;
}

.searchBar input {
	width: 100%;
}